    <div class="banner padding-box">
        <div class="padding-box-wrapper">
            <img src="/assets/img/banner.png" alt="">
            <div class="banner-content container">
                <p class="banner-title">{{ t "layout.home.search_tip" }}</p>
                <div class="banner-input-group">
                    <input class="banner-input" type="text" placeholder="{{ t "layout.home.search_placeholder" }}">
                </div>
                <div class="banner-btn-group">
                    <a class="btn" href="/buy">{{ t "layout.home.buy_a_property" }} &nbsp;&nbsp;&nbsp;-></a>
                    <a class="btn" href="/rent">{{ t "layout.home.rent_a_property" }} &nbsp;&nbsp;&nbsp; -></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <p class="content-title">{{ t "layout.home.ppfsar" }}</p>
        </div>
        <div class="content-body">
            <div class="swiper-container room-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="room-cards padding-box">
                            <div class="padding-box-wrapper">
                                <div class="row">
                                    {{range .Propertys1}}
                                    <div class="room-card">
                                        <div class="padding-box">
                                            <div class="card padding-box-wrapper">
                                                <img class="card-img-top" src="{{.MainImage.URL}}">
                                                <div class="card-mask"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{.Region}}</h5>
                                                    <p class="card-text">{{.BuildingName}}</p>
                                                    <p class="card-summary">Sole Agent For {{.For}} HK${{.SellingPrice}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="swiper-slide">
                        <div class="room-cards padding-box">
                            <div class="padding-box-wrapper">
                                <div class="row">
                                    {{range .Propertys2}}
                                    <div class="room-card">
                                        <div class="padding-box">
                                            <div class="card padding-box-wrapper">
                                                <img class="card-img-top" src="{{.MainImage.URL}}">
                                                <div class="card-mask"></div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{.Region}}</h5>
                                                    <p class="card-text">{{.BuildingName}}</p>
                                                    <p class="card-summary">Sole Agent For {{.For}} HK${{.SellingPrice}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="live-in-hk text-center">
            <a href="javascript:"><img src="/assets/img/lihk.png" alt=""></a>
        </div>

        <div class="room-article collapse">
            <div class="col-md-6 col-sm-12 no-padding">
                <div class="padding-box ">
                    <div class="padding-box-wrapper">
                        <div class="room-article-col room-article-left">
                            <p class="room-article-title">Loaf Pan Non Stick Food Grade</p>
                            <div class="padding-box">
                                <div class="padding-box-wrapper">
                                    <p class="room-article-text"> Place Bread Forms flat into the dish wash sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for
                                        Place Bread Forms flat into the dish wash sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on cheese, let the forms sit for Place Bread Forms flat into
                                        the dish
                                        wash
                                        sink.
                                        If there is baked on ... </p>
                                </div>
                            </div>
                            <div class="room-article-footer">
                                <a href="javascript:" class="btn room-article-link">view more &nbsp; <i
                                        class="jiantou"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 no-padding">
                <div class="padding-box">
                    <div class="padding-box-wrapper">
                        <div class="room-article-col">
                            <img src="/assets/img/room2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

    <div class="content">
        <div class="content-header">
            <p class="content-title">{{ t "layout.home.hp" }}</p>
        </div>
        <div class="content-body">
            <div class="hot-card-row row">
                {{range .Propertys3}}
                <div class="col-md-4">
                    <div class="card hot-card ">
                        <div class="card-img-top">
                            <img src="{{.MainImage.URL}}">
                            <div class="card-mask">
                                <div class="card-mask-content">
                                    <dl>
                                        <dt>Saleable :</dt>
                                        <dd>{{.SaleableArea}} s.f.</dd>
                                    </dl>
                                    <dl>
                                        <dt>Outdoor :</dt>
                                        <dd>{{.OutdoorArea}} s.f.</dd>
                                    </dl>
                                    <dl>
                                        <dt>Gross :</dt>
                                        <dd>{{.GrossArea}}  s.f.</dd>
                                    </dl>
                                    <dl>
                                        <dt>Rooms :</dt>
                                        <dd>{{.NoOfBedRooms}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{.BuildingName}} - {{.Floor}}-{{.Unit}}</h5>
                            <p class="card-text">For {{.For}} HK${{.SellingPrice}} incl.</p>
                            <a href="/show?id={{.ID}}" class="card-link">
                                <span class="jiantou jiantou-hui"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>

            <div class="live-in-hk text-center">
                <a href="javascript:"><img src="/assets/img/contact.png" alt=""></a>
            </div>

            <div class="contact container collapse">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6 contact-name">
                            <input type="text" class="form-control" placeholder="Property Name">
                        </div>
                        <div class="form-group col-md-6 contact-address">
                            <input type="text" class="form-control" placeholder="Property Address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 contact-uname">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group col-md-6 contact-phone">
                            <input type="text" class="form-control" placeholder="Contact">
                        </div>
                    </div>
                    <div class="form-group contact-text">
                        <textarea class="form-control" name="" rows="4"
                                  placeholder="Brief specifications of your property..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
