

    <div class="switch-slider">
        <div class="switch-slider-view">
            <div class="swiper-container">
                <a class="arrow-left" href="#"></a>
                <a class="arrow-right" href="#"></a>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/1.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/2.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/3.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/4.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/5.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/6.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/7.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="switch-preview">
            <a class="arrow-left" href="#"></a>
            <a class="arrow-right" href="#"></a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/6.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container page-about">
        <div class="row">
            <div class="col-md-6 about-content">
                <p class="about-welcome">Welcome to links realty limited</p>
                <h1 class="about-title">ABOUT US</h1>
                <div class="about-text">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With our long term involvement and experience here, we believe we can provide the comprehensive,
                        friendly service all newcomers need to smooth the transition to living and working in this,
                        Asia's most
                        exciting city.</p>
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executive Homes was established in January 2011 but the team had worked together for many years
                        in a
                        previous company which was bought out. It consists of a multinational staff from over 6
                        countries, all
                        of whom have long term experience in Hong Kong’s relocation and residential markets.</p>
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whilst we all love the new technology that allows us to constantly upgrade our website and the
                        online
                        experience it can offer, we all truly believe we are in a ‘people’ business and our greatest
                        strength is
                        our love of promoting this amazing city we live in to new comers and locals both. Most of us
                        have been
                        through the relocation process to Hong Kong, so we understand fully the stresses and concerns
                        involved.
                        Therefore we endeavour to provide as smooth a transition as possible.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src=".//assets/img/about-image.png" alt="">
            </div>
        </div>
    </div>

    <div class="content footer-hot-cards">
        <div class="content-header text-center">
            <p class="content-title">Hot Picks</p>
        </div>
        <div class="content-body">
            <div class="swiper-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hot-card-row row">
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hot-card-row row">
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src=".//assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
