    <div class="page-contact">

        <div class="search-banner">
            <img class="banner-img" src="/assets/img/contact-banner.png" alt="">
            <a class="search-btn" href="javascript:"><img src="/assets/img/join-search.png" alt=""></a>
        </div>

        <div class="container">
            <div class="contact-content contact-message">
                <div class="contact-header">
                    <div class="contact-header-title">CONTACT US</div>
                </div>
                <div class="contact-body text-center">
                    <div class="body-left">
                        <div class="contact-phone">
                            <p><img src="/assets/img/phone-blue.png" alt=""></p>
                            <h4>Phone</h4>
                            <p class="">21231622</p>
                        </div>
                        <div class="contact-email">
                            <p><img src="/assets/img/email-blue.png" alt=""></p>
                            <h4>Email</h4>
                            <p>info@linksrealty.hk</p>
                        </div>
                    </div>
                    <div class="body-right">
                        <div>
                            <p><img src="/assets/img/address-blue.png" alt=""></p>
                            <h4>Address</h4>
                            <p>Room 1004,10/F.,Officeplus@Wanchai,No.303 Hennessy Road,
                                Wanchai,Hong Kong.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="contact-content">
                <div class="contact-header">
                    <div class="contact-header-title">CONTACT INFO</div>
                </div>
                <div class="contact-body ">
                    <div class="contact no-padding">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6 contact-name">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="form-group col-md-6 contact-address">
                                    <input type="text" class="form-control" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 contact-uname">
                                    <input type="text" class="form-control" placeholder="Your Phone">
                                </div>
                                <div class="form-group col-md-6 contact-phone">
                                    <input type="text" class="form-control" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group contact-text">
                                <textarea class="form-control" name="" rows="4" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">SEND</button>
                        </form>
                    </div>

                </div>

            </div>
            <div class="contact-content">
                <div class="contact-header">
                    <div class="contact-header-title">MAP</div>
                </div>
                <div class="contact-body text-center">
                    <img class="map" src="/assets/img/map.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="content footer-hot-cards">
        <div class="content-header text-center">
            <p class="content-title">Hot Picks</p>
        </div>
        <div class="content-body">
            <div class="swiper-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hot-card-row row">
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hot-card-row row">
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card hot-card ">
                                    <div class="card-img-top">
                                        <img src="/assets/img/room1.png">
                                        <div class="card-mask">
                                            <div class="card-mask-content">
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Saleable :</dt>
                                                    <dd>1,314 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Gross :</dt>
                                                    <dd>1,535 s.f.</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Rooms :</dt>
                                                    <dd>3 Bedrooms including 1 Ensulte</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                        <p class="card-text">For Rent HK$68,000 incl.</p>
                                        <a href="javascript:" class="card-link">
                                            <span class="jiantou jiantou-hui"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>