<div class="page-join">

    <div class="search-banner">
        <img class="banner-img" src="/assets/img/join-banner.png" alt="">
        <a class="search-btn" href="javascript:"><img src="/assets/img/join-search.png" alt=""></a>
    </div>

    <div class="join-content container">
        <div class="join-header">
            <div class="join-header-title">WHAT WE ARE</div>
            <p class="join-header-text">
                With our long term involvement and experience here, we believe we can provide the comprehensive,
                friendly service all newcomers need to smooth the transition to living and working in this, Asia's
                most
                exciting city.Executive Homes was established in January 2011 but the team had worked together for
                many
                years in a previous company which was bought out. It consists of a multinational staff from over 6
                countries, all of whom have long term experience in Hong Kong’s relocation and residential
                markets.
            </p>
        </div>
        <div class="join-body">
            <div class="join-body-title">
                <p>Recruitment Information</p>
            </div>
            <div class="join-rows">
                <div class="join-table">
                    <div class="join-thead">
                        <div class="join-tr">
                            <div class="join-th-position">RECRUITMENT POSITION</div>
                            <div class="join-th-wage">WAGE DEMANDS</div>
                            <div class="join-th-address">WORKING ADDRESS</div>
                            <div class="join-th-op"></div>
                        </div>
                    </div>
                    <div class="join-tbody">
                        <!-- GROUP START -->
                        <div  class="join-tr">
                            <div class="join-th-position">sales manager</div>
                            <div class="join-th-wage">$5000~8000</div>
                            <div class="join-th-address">Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy</div>
                            <div class="join-th-op">
                                <a class="collapsed" data-toggle="collapse" href="#join-detail-1"></a>
                            </div>
                        </div>
                        <div id="join-detail-1"  class="join-tr collapse">
                            <div class="join-detail">
                                <div class="join-detail-text">
                                    Responsibilities:
                                    <p>1, responsible for answering customer enquiry phone calls to introduce the
                                        company's
                                        products;</p>
                                    <p>2. Effective communication with customers through telephone to understand
                                        customer
                                        needs, find sales opportunities and achieve sales performance;</p>
                                    <p>3, maintain the business of old customers and tap the maximum potential of
                                        customers.</p>
                                    <p>4, regularly communicate with cooperative clients and establish good
                                        long-term
                                        cooperative relationship.</p>
                                    <p>Qualifications:</p>
                                    <p>1, 18-45 years old, articulate, fluent Mandarin and strong voice.</p>
                                    <p>2. High enthusiasm for sales work.</p>
                                    <p>3. Strong learning ability and excellent communication skills.</p>
                                    <p>4, tough character, quick thinking, good adaptability and pressure bearing
                                        ability;</p>
                                    <p>5. A keen market insight, a strong sense of enterprise, responsibility and
                                        a</p>
                                    <p>positive</p>
                                    <p>attitude towards work. Relevant telephone sales experience is preferred.</p>
                                    <p>Working hours: Nine Nights, six weekends.</p>
                                </div>
                                <div class="join-contact">
                                    <p class="join-contact-title">Contact Us</p>
                                    <div class="join-contact-detail">
                                        <p>Email:info@linksrealty.hk</p>
                                        <p>Add:Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy Road,Wanchai,hong
                                            kong.</p>
                                    </div>
                                    <form action="">
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" placeholder="Your Email">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <a href="javascript:"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p>Please send to info@info@linksrealty.hk,we will contact you.</p>
                                </div>
                            </div>
                        </div>
                        <!-- GROUP END -->

                        <!-- GROUP START -->
                        <div  class="join-tr">
                            <div class="join-th-position">sales manager</div>
                            <div class="join-th-wage">$5000~8000</div>
                            <div class="join-th-address">Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy</div>
                            <div class="join-th-op">
                                <a class="collapsed" data-toggle="collapse" href="#join-detail-2"></a>
                            </div>
                        </div>
                        <div id="join-detail-2"  class="join-tr collapse">
                            <div class="join-detail">
                                <div class="join-detail-text">
                                    Responsibilities:
                                    <p>1, responsible for answering customer enquiry phone calls to introduce the
                                        company's
                                        products;</p>
                                    <p>2. Effective communication with customers through telephone to understand
                                        customer
                                        needs, find sales opportunities and achieve sales performance;</p>
                                    <p>3, maintain the business of old customers and tap the maximum potential of
                                        customers.</p>
                                    <p>4, regularly communicate with cooperative clients and establish good
                                        long-term
                                        cooperative relationship.</p>
                                    <p>Qualifications:</p>
                                    <p>1, 18-45 years old, articulate, fluent Mandarin and strong voice.</p>
                                    <p>2. High enthusiasm for sales work.</p>
                                    <p>3. Strong learning ability and excellent communication skills.</p>
                                    <p>4, tough character, quick thinking, good adaptability and pressure bearing
                                        ability;</p>
                                    <p>5. A keen market insight, a strong sense of enterprise, responsibility and
                                        a</p>
                                    <p>positive</p>
                                    <p>attitude towards work. Relevant telephone sales experience is preferred.</p>
                                    <p>Working hours: Nine Nights, six weekends.</p>
                                </div>
                                <div class="join-contact">
                                    <p class="join-contact-title">Contact Us</p>
                                    <div class="join-contact-detail">
                                        <p>Email:info@linksrealty.hk</p>
                                        <p>Add:Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy Road,Wanchai,hong
                                            kong.</p>
                                    </div>
                                    <form action="">
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" placeholder="Your Email">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <a href="javascript:"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p>Please send to info@info@linksrealty.hk,we will contact you.</p>
                                </div>
                            </div>
                        </div>
                        <!-- GROUP END -->

                        <!-- GROUP START -->
                        <div  class="join-tr">
                            <div class="join-th-position">sales manager</div>
                            <div class="join-th-wage">$5000~8000</div>
                            <div class="join-th-address">Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy</div>
                            <div class="join-th-op">
                                <a class="collapsed" data-toggle="collapse" href="#join-detail-3"></a>
                            </div>
                        </div>
                        <div id="join-detail-3"  class="join-tr collapse">
                            <div class="join-detail">
                                <div class="join-detail-text">
                                    Responsibilities:
                                    <p>1, responsible for answering customer enquiry phone calls to introduce the
                                        company's
                                        products;</p>
                                    <p>2. Effective communication with customers through telephone to understand
                                        customer
                                        needs, find sales opportunities and achieve sales performance;</p>
                                    <p>3, maintain the business of old customers and tap the maximum potential of
                                        customers.</p>
                                    <p>4, regularly communicate with cooperative clients and establish good
                                        long-term
                                        cooperative relationship.</p>
                                    <p>Qualifications:</p>
                                    <p>1, 18-45 years old, articulate, fluent Mandarin and strong voice.</p>
                                    <p>2. High enthusiasm for sales work.</p>
                                    <p>3. Strong learning ability and excellent communication skills.</p>
                                    <p>4, tough character, quick thinking, good adaptability and pressure bearing
                                        ability;</p>
                                    <p>5. A keen market insight, a strong sense of enterprise, responsibility and
                                        a</p>
                                    <p>positive</p>
                                    <p>attitude towards work. Relevant telephone sales experience is preferred.</p>
                                    <p>Working hours: Nine Nights, six weekends.</p>
                                </div>
                                <div class="join-contact">
                                    <p class="join-contact-title">Contact Us</p>
                                    <div class="join-contact-detail">
                                        <p>Email:info@linksrealty.hk</p>
                                        <p>Add:Rm 1004,10/F OfficePlus @Wan chai, No.303 Hennessy Road,Wanchai,hong
                                            kong.</p>
                                    </div>
                                    <form action="">
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" placeholder="Your Email">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <a href="javascript:"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p>Please send to info@info@linksrealty.hk,we will contact you.</p>
                                </div>
                            </div>
                        </div>
                        <!-- GROUP END -->
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="content footer-hot-cards">
    <div class="content-header text-center">
        <p class="content-title">Hot Picks</p>
    </div>
    <div class="content-body">
        <div class="swiper-container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hot-card-row row">
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hot-card-row row">
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card hot-card ">
                                <div class="card-img-top">
                                    <img src="/assets/img/room1.png">
                                    <div class="card-mask">
                                        <div class="card-mask-content">
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Saleable :</dt>
                                                <dd>1,314 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Gross :</dt>
                                                <dd>1,535 s.f.</dd>
                                            </dl>
                                            <dl>
                                                <dt>Rooms :</dt>
                                                <dd>3 Bedrooms including 1 Ensulte</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                    <p class="card-text">For Rent HK$68,000 incl.</p>
                                    <a href="javascript:" class="card-link">
                                        <span class="jiantou jiantou-hui"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>