

    <div class="switch-slider">
        <div class="switch-slider-view">
            <div class="swiper-container">
                <a class="arrow-left" href="#"></a>
                <a class="arrow-right" href="#"></a>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/1.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/2.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/3.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/4.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/5.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/6.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:"><img src="/assets/img/banner/7.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="switch-preview">
            <a class="arrow-left" href="#"></a>
            <a class="arrow-right" href="#"></a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/6.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <div class="mask">Consort Rise</div>
                        <img src="/assets/img/banner/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-buy">

        <form class="page-buy-form">

            <div class="page-buy-form-header">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary active">BUY</button>
                    <button type="button" class="btn btn-secondary">RENT</button>
                </div>
                <div class="input-group col-md-3">
                    <input type="text" class="form-control" placeholder="Search Property With Name, Address">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <a href="javascript:"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="select-rows">
                <div class="select-row">
                    <label>Select location</label>
                    <div class="select-group">
                        <select class="large" name="">
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="select-row">
                    <label class="color-red">Asking price (in HK$)</label>
                    <div class="select-group">
                        <select name="">
                            <option value="">From</option>
                        </select>
                        <select name="">
                            <option value="">Maxmium</option>
                        </select>
                    </div>
                </div>
                <div class="select-row">
                    <label class="color-red">Saleable area (square feet)</label>
                    <div class="select-group">
                        <select name="">
                            <option value="">From</option>
                        </select>
                        <select name="">
                            <option value="">Maxmium</option>
                        </select>
                    </div>
                </div>
                <div class="select-row">
                    <label class="color-blue">Select location</label>
                    <div class="select-group">
                        <select name="">
                            <option value="">Studio</option>
                        </select>
                        <select name="">
                            <option value="">Maxmium</option>
                        </select>
                    </div>
                </div>
                <div class="select-row">
                    <label class="color-blue">Select location</label>
                    <div class="select-group">
                        <select name="">
                            <option value="">Studio</option>
                        </select>
                        <select name="">
                            <option value="">Maxmium</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="checkbox-groups">
                <div>
                    <p class="checkbox-group-title color-green">Type of property</p>
                    <div class="checkbox-group">
                        <label><input type="checkbox">Simplex</label>
                        <label><input type="checkbox">Duplex</label>
                        <label><input type="checkbox">Triplex</label>
                        <label><input type="checkbox">Penthouse</label>
                        <label><input type="checkbox">Detached House</label>
                        <label><input type="checkbox">Town House</label>
                        <label><input type="checkbox">Highrise</label>
                        <label><input type="checkbox">Lowrise</label>
                    </div>
                </div>
                <div>
                    <p class="checkbox-group-title color-orange">Outdoor area</p>
                    <div class="checkbox-group">
                        <label><input type="checkbox">Simplex</label>
                        <label><input type="checkbox">Duplex</label>
                        <label><input type="checkbox">Triplex</label>
                        <label><input type="checkbox">Penthouse</label>
                        <label><input type="checkbox">Detached House</label>
                        <label><input type="checkbox">Town House</label>
                        <label><input type="checkbox">Highrise</label>
                        <label><input type="checkbox">Lowrise</label>
                    </div>
                </div>
                <div>
                    <p class="checkbox-group-title color-blue">Others</p>
                    <div class="checkbox-group">
                        <label><input type="checkbox">Simplex</label>
                        <label><input type="checkbox">Duplex</label>
                        <label><input type="checkbox">Triplex</label>
                        <label><input type="checkbox">Penthouse</label>
                        <label><input type="checkbox">Detached House</label>
                        <label><input type="checkbox">Town House</label>
                        <label><input type="checkbox">Highrise</label>
                        <label><input type="checkbox">Lowrise</label>
                    </div>
                </div>
                <div>
                    <p class="checkbox-group-title color-red">Facilities</p>
                    <div class="checkbox-group">
                        <label><input type="checkbox">Simplex</label>
                        <label><input type="checkbox">Duplex</label>
                        <label><input type="checkbox">Triplex</label>
                        <label><input type="checkbox">Penthouse</label>
                        <label><input type="checkbox">Detached House</label>
                        <label><input type="checkbox">Town House</label>
                        <label><input type="checkbox">Highrise</label>
                        <label><input type="checkbox">Lowrise</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="page-buy-form-reslut">
                <p>A total of <span class="color-red">8000</span> housing sources</p>
                <button type="submit"><img src=".//assets/img/buy-search.png" alt=""></button>
            </div>
        </form>

        <ul class="page-buy-list list-unstyled">
            <li class="media" data-target="link" data-href="buy_detail.html" >
                <img class="mr-3" src=".//assets/img/room1.png" alt="Generic placeholder image">
                <div class="media-body">

                    <h5 class="media-title">Hongkong Island Mansion303 E 57th St #19F</h5>
                    <div class="media-msg">
                        <p><i class="i-house"></i>303 E 57th St #19F</p>
                        <p><i class="i-bed"></i>2 beds 2 baths</p>
                        <p><i class="i-sqft"></i>1,100 sqft</p>
                        <p><i class="i-email"></i>info@linksrealty.hk</p>
                    </div>
                    <p><i class="i-address"></i>Rm 1004,10/F OfficePlus @Wan chai, No.303 HennessyRoad,Wanchai</p>

                </div>
                <div class="media-right">
                    <p class="price color-red">$535,000</p>
                    <p class="unit-price">Unit price 15625 yuan / square</p>
                </div>
            </li>

        </ul>
        <div class="clearfix"></div>
        <div class="paginations text-center">
            <a class="pre" href="#">&nbsp;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a class="next" href="#">&nbsp;</a>
        </div>

        <div class="content footer-hot-cards">
            <div class="content-header text-center">
                <p class="content-title">Hot Picks</p>
            </div>
            <div class="content-body">
                <div class="swiper-container">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="hot-card-row row">
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hot-card-row row">
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card hot-card ">
                                        <div class="card-img-top">
                                            <img src=".//assets/img/room1.png">
                                            <div class="card-mask">
                                                <div class="card-mask-content">
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Saleable :</dt>
                                                        <dd>1,314 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Gross :</dt>
                                                        <dd>1,535 s.f.</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Rooms :</dt>
                                                        <dd>3 Bedrooms including 1 Ensulte</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Baguio Villa (Upper) - T19-27</h5>
                                            <p class="card-text">For Rent HK$68,000 incl.</p>
                                            <a href="javascript:" class="card-link">
                                                <span class="jiantou jiantou-hui"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>