<!doctype html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {{render_seo_tag}}
    <title>LINKS Realty Limited</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="lian">
<div class="main-deck">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">{{ t "layout.navs.home" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buy">{{ t "layout.navs.buy" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rent">{{ t "layout.navs.rent" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Living In HK</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">{{ t "layout.navs.about_us" }}
                                        <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/about">Who We Are</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/join">Join Us</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/switch_locale?locale=en-US" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/img/local.png" alt=""> &nbsp; ENGLISH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/switch_locale?locale=en-US">ENGLISH</a>
                        <a class="dropdown-item" href="/switch_locale?locale=zh-CN">简体中文</a>
                        <a class="dropdown-item" href="/switch_locale?locale=zh-HK">繁體中文</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    {{ yield }}

    <footer>
        <div class="container">
            <div class="link-list float-left w-38">
                <div class="list-header">
                    <p class="list-title">Hong Kong Island</p>
                </div>
                <div class="link-list-2">
                    <a href="javascript:">The Peak</a>
                    <a href="javascript:">Central Mid-levels</a>
                    <a href="javascript:">West Mid-levels</a>
                    <a href="javascript:">East Mid-levels</a>
                    <a href="javascript:">North Mid-levels</a>
                    <a href="javascript:">Repulse Bay</a>
                    <a href="javascript:">Stanley</a>
                    <a href="javascript:">Tai Tam</a>
                    <a href="javascript:">Pok Fu Lam</a>
                </div>
            </div>

            <div class="link-list float-left w-24">
                <div class="list-header">
                    <p class="list-title">Kowloon</p>
                </div>
                <div>
                    <a href="javascript:">West Kowloon</a>
                    <a href="javascript:">Ho Man Tin</a>
                    <a href="javascript:">Kowloon Tong</a>
                    <a href="javascript:">Others</a>
                </div>
            </div>

            <div class="link-list float-right w-24">
                <div class="list-header">
                    <p class="list-title">New Territories</p>
                </div>
                <div>
                    <a href="javascript:">Sai Kung</a>
                    <a href="javascript:">Tseung Kwan O</a>
                    <a href="javascript:">Sha Tin</a>
                    <a href="javascript:">Others</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="link-list float-left w-16">
                <div class="list-header">
                    <p class="list-title">Quick Links</p>
                </div>
                <div>
                    <a href="javascript:">Public Utility</a>
                    <a href="javascript:">Hospital</a>
                    <a href="javascript:">Bank</a>
                    <a href="javascript:">School</a>
                    <a href="javascript:">Hotel</a>
                </div>
            </div>

            <div class="link-list float-left w-12">
                <div class="list-header">
                    <p class="list-title">Services</p>
                </div>
                <div>
                    <a href="javascript:">Residential</a>
                    <a href="javascript:">Commercial</a>
                    <a href="javascript:">Shop</a>
                </div>
            </div>

            <div class="link-list float-right w-60">
                <div class="list-header">
                    <p class="list-title">Contact Us</p>
                </div>
                <div>
                    <div class="link-address">
                        <p>Room 1004,10/F.,Officeplus@Wanchai,</p>
                        <p>No.303 Hennessy Road,</p>
                        <p>Wanchai,Hong Kong.</p>
                    </div>
                    <div class="link-tel">
                        <p>Tel:( 852 ) 2123 1622</p>
                        <p>Email:info@linksrealty.hk</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="copyright">Copyright © Wan chai, No.303 Hennessy Road,Wanchai,hong kong..All right reserved</p>
    </footer>
</div>
<div class="bottom-card">
    <div class="container">
        <p class="bottom-card-title">{{ t "layout.home.disclaimer" }}</p>
        <p class="bottom-card-text">{{ t "layout.home.disclaimer_content" }}</p>
    </div>
</div>
<script src="/assets/js/jquery.slim.min.js"></script>
<script src="/assets/js/flexible.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true, // 循环模式选项
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        }
    })
</script>
</body>
</html> 
